@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* pre defined --------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Inter', sans-serif;
}

p {
	font-size: 1em;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 1.4;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.7em;
	font-weight: 700;
	line-height: 1.4;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #333;
	text-decoration: none;
	min-height: 100%;
	line-height: 1.4;
	font-size: 14.4px;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	border: 0;
}

/* -- Re-usable classes------*/
.w-inline-block {
	max-width: 100%;
	display: inline-block;
}

.w-button {
	color: #fff;
	line-height: inherit;
	cursor: pointer;
	border: 0;
	text-decoration: none;
	display: inline-block;
}

.button-type-1 {
	white-space: nowrap;
	background-color: #54bd95;
	border-radius: 1.8em;
	padding: 0.9em 1.2em;
	font-size: 1.2em;
	transition: all 0.2s;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.button-type-1:hover {
	outline-offset: 0px;
	color: #54bd95;
	background-color: #fff;
	outline: 1px solid #54bd95;
	transform: scale(1.05);
}

.button-2 {
	background-color: #54bd95;
	color: white;
	border-radius: 1em;
	padding: 0.5em 0.85em;
	font-size: 1.2em;
	font-weight: 600;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	display: inline-block;
	line-height: inherit;
	cursor: pointer;
	transition: all 0.3s;
}

.button-2:hover {
	outline-offset: 0px;
	color: #54bd95;
	background-color: #f2f5f2;
	outline: 1px solid #54bd95;
}

.button {
	font-size: 1.2em;
}

.section {
	padding: 5em 10vw;
}

/* Styling starts----------------------------------------------------------------------------*/

.section.navbar {
	background-color: #f2f5f2;
	background-image: radial-gradient(circle at 0 100%, #daefeb, #f2f5f2);
	padding-top: 2em;
	padding-bottom: 2em;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-img {
	/* logo */
	width: 10vw;
	max-width: none;
}

.nav-items {
	display: flex;
	gap: 10vw;
	align-items: center;
}

.nav-links {
	display: flex;
	gap: 2em;
	align-items: center;
	line-height: 1.7;
}

.nav-links {
	color: #a6a6a6;
	font-size: 1.2em;
	font-weight: 600;
	transition: all 0.2s;
}

.nav-link {
	color: #a6a6a6;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
	transition: all 270ms ease-in-out;
	text-decoration: none;
	/* Remove underline for better visual */
}

.nav-link:hover {
	color: #191a15;
	transform: scale(1.2);
}

.nav-actions {
	display: flex;
	align-items: center;
	gap: 2em;
}

.mobile-menu-toggle {
	align-items: stretch;
	display: none;
}

/* Hero section starts here ---------------------------------------------------------------------------------------*/
.section.hero-section {
	display: flex;
	align-items: center;
	background-color: #f2f5f2;
	background-image: radial-gradient(circle at 0 0, #daefeb, #f2f5f2);
}

/* 1- hero left side --------------*/
.hero-content {
	width: 50%;
}

.hero-content .hero-heading {
	font-size: 5em;
	font-weight: 900;
	line-height: 1.2;
}

.hero-vector-image {
	margin-top: 2em;
	margin-bottom: 2em;
}

.paragraph {
	color: #a6a6a6;
	font-size: 1.2em;
	font-weight: 500;
}

.hero-description {
	width: 85%;
	color: #191a15;
	font-size: 1.3em;
	font-weight: 600;
}

/*   Try free trial  button*/

.hero-actions {
	/* buuton holder */
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	align-items: center;
	margin-top: 4em;
	display: flex;
}

/* view Demo button */

.link-block {
	/* a */
	grid-column-gap: 0.7em;
	grid-row-gap: 0.7em;
	border-radius: 2.4em;
	align-items: center;
	padding: 0.9em 1.8em;
	transition: all 0.2s;
	display: flex;
	text-decoration: none;
}

.link-block:hover {
	outline-offset: 0px;
	outline: 1px solid #191a15;
	transform: scale(1.05);
}

.play-img-icon {
	width: 2vw;
	/* play vector img */
	max-width: 28.8px;
	max-height: 28.8px;
	min-width: 17.6px;
}

/* 2- hero right side --------------------------------------------------------------------------*/
/* Hero image  startdshere ----------------------------------------*/

.hero-image-container {
	/* div*/

	width: 63%;
	margin-right: -10vw;
	margin-bottom: 10px;
}

.hero-image-content {
	/* img middle big image*/
	width: 100%;
	max-width: none;
}

/* Hero section ends here ---------------------------------------------------------------------------------------*/

/* collabs section starts here -----------------------*/
.section.collabs-section {
	background-color: #f2f5f2;
	background-image: radial-gradient(circle at 0 100%, #daefeb, #f2f5f2);
}

.collabs-section-header

/* h3*/ {
	text-align: center;
	font-size: 2.5em;
}

.collabs-logos {
	display: flex;
	justify-content: space-between;
	gap: 1.5em;
	margin-top: 3em;
}

.collabs-logos-image {
	width: 90%;
}

/* Rating section starts here -----------------------*/
.section.rating {
	background-color: #f9f8fe;
	display: flex;
}

.rating-stars {
	width: 60%;
	margin-right: 1em;
}

.h2 {
	letter-spacing: 0.05em;
	white-space: nowrap;
	font-size: 3.3em;
	font-weight: 800;
	line-height: 1.2;
}

.paragraph.rating-description {
	letter-spacing: 0.05em;
	margin-top: 2em;
}

.ratings-list {
	width: 60%;
	display: flex;
	gap: 5em;
	margin-top: 3.5em;
	list-style-type: none;
}

.rating-item {
	width: 50%;
}

.stars {
	display: flex;
	gap: 0.3em;
	margin-bottom: 1em;
}

.paragraph.rating-paragraph {
	color: #191a15;
	margin-bottom: 0.8em;
}

.rating-item {
	width: 50%;
}

/* --right side ----*/
.support-features {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.support-item {
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
}

.support-icon {
	width: 10%;
}

.support-text {
	width: 100%;
	margin-left: 1em;
}

.heading-support {
	margin-bottom: 0.5em;
	font-size: 1.5em;
}

/*--- features section starts here */
.features-container {
	margin-top: 3em;
}

.features-header {
	grid-column-gap: 10em;
	grid-row-gap: 10em;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4em;
	display: flex;
}

.features-title.features-title-centered {
	text-align: center;
}

.features-title {
	letter-spacing: 0.05em;
	white-space: nowrap;
	font-size: 3.3em;
	font-weight: 800;
	line-height: 1.2;
}

.features-details {
	justify-content: space-between;
	display: flex;
}

.features-item {
	width: 30%;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	transition: all 0.2s;
	display: flex;
}

.features-icon {
	margin-bottom: 1em;
}

.features-text-container {
	margin-left: 0;
	width: 100%;
}

.features-subtitle {
	margin-bottom: 0.5em;
	font-size: 1.5em;
}

/* benifits section starts here ----*/

.content-section.hero-banner.benefits-section {
	background-color: #fff;
	background-image: none;
}

.benefits-content {
	width: 50%;
}

.main-heading {
	letter-spacing: 0.05em;
	white-space: nowrap;
	font-size: 3.3em;
	font-weight: 800;
	line-height: 1.2;
}

.benefits-list.benefits-list-light {
	background-color: #fff;
}

.benefits-list {
	background-color: #f9fafb;
	margin-top: 4em;
}

.benefit-item {
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.5em;
	display: flex;
}

.benefit-icon-image-1,
.benefit-icon-image-2,
.benefit-icon-image-3,
.benefit-icon-image-4,
.benefit-icon-image-5 {
	width: 1.5vw;
	max-width: none;
}

.subheading {
	white-space: nowrap;
	font-size: 1.2em;
	font-weight: 500;
}

.hero-banner-image {
	width: 63%;
	margin-right: -10vw;
}

.full-width-image {
	width: 100%;
	max-width: none;
}

.content-section.hero-banner {
	background-color: #f2f5f2;
	background-image: radial-gradient(circle at 0 0, #daefeb, #f2f5f2);
	align-items: center;
	display: flex;
}

/* pricing section starts here */
.pricing-section {
	padding-left: 10vw;
	padding-right: 10vw;
}

.title-centered {
	text-align: center;
}

.title-centered.smaller-title {
	font-family: Inter;
	font-size: 50px;
	font-weight: 700;
	line-height: 73px;
	text-align: center;
}

.choose-the-plan-text {
	font-family: Inter;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.78px;
	text-align: center;
	color: #a6a6a6;
}

.pricing-description-centered {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.toggle-button-container {
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

.toggle-buttons-container {
	display: inline-flex;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-option-btn {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	padding: 0.8em 2em;
	border: none;
	cursor: pointer;
	background-color: #ffffff;
	color: #000;
	border-radius: 10px;
	transition: transform 0.5s ease, background-color 0.3s ease;
}

.plan-option-btn.active {
	background: #54bd95;
	/* Active button background color */
	color: #ffffff;
}

.plan-option-btn.active:hover {
	transform: scale(1.1);
}

.plan-option-btn:not(.active):hover {
	background-color: #f0f4f8;
}

/* pricing section ends here */
.pricing-options {
	max-width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	gap: 1.2em;
	overflow-x: hidden;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-color: #54bd95 #ffffff;
	scroll-margin: 10px;
	scroll-snap-type: x mandatory;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	transition: transform 0.5s ease;
	padding: 15px 0;
}

.pricing-plan {
	text-align: center;
	border-radius: 2em;
	padding: 3em 1.3em 0.3em 1.3em;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	/* Smooth transition for zoom and shadow */
}

.pricing-plan:hover {
	transform: scale(1.05);
	/* Scales the card to 105% of its original size */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	/* Optional: Add a larger shadow on hover */
}

.pricing-plan-margined-up {
	margin-top: 20px;
	padding: 3em 0.8em 1em 0.8em;
}

.plan-title {
	margin-bottom: 0.5em;
	font-size: 1.5em;
}

.plan-title-green {
	margin-bottom: 0.5em;
	font-size: 2.5em;
}

.plan-description {
	color: #a6a6a6;
	font-size: 1.5em;
	font-weight: 500;
}

.price-amount {
	margin: 0.5em 0;
	font-size: 2.5em;
}

.feature-list {
	min-width: 340px;
	border-radius: 2em;
	margin-top: 0;
	padding: 2em 2em;
	border-radius: 1em;
}

.feature-item {
	display: flex;
	gap: 10px;
	margin-bottom: 1em;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	text-align: left;
}

.icon {
	width: 1.5vw;
	max-width: none;
}

.feature-title {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	text-align: left;
}

.cta-button {
	color: #54bd95;
	background-color: #fff;
	border-radius: 0.7em;
	margin-top: 1rem;
	padding: 0.7em 3em;
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}

.pricing-plan-green {
	padding: 3em 1.5em 0.3em 1.5em;
}

.plan-description-green {
	color: #ffffff;
}

.features-text-green-plan {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	text-align: left;
}

.go-to-pro-btn {
	margin-top: 1rem;
	padding: 0.7em 4.3em;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
}

.go-to-pro-btn:hover {
	outline-offset: 0px;
	color: #54bd95;
	background-color: #f2f5f2;
	outline: 1px solid #54bd95;
}

/* pre-footer section starts here */

.section.pre-footer {
	background-color: #161c28;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.reviews {
	width: 40%;
}
.pre-footer-heading {
	font-size: 2.4em;
	letter-spacing: 0.05em;
	white-space: nowrap;
	font-size: 3.3em;
	font-weight: 800;
	line-height: 1.2;
	color: #f2f5f2;
	margin-bottom: 1em;
}

.pre-footer-images {
	justify-content: space-between;
	margin-top: 4em;
	display: flex;
}
.userImg {
	width: 4.5vw;
	max-width: none;
}

.request-demo {
	width: 50%;
	text-align: center;
	background-color: #222938;
	border-radius: 2em;
	padding: 2em;
}

.footer-images {
	justify-content: space-between;
	margin-top: 4em;
	display: flex;
}

.vectorImg {
	width: 5vw;
	max-width: none;
}
.h4 {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.4;
}

.h4.pre-footer-heading {
	color: #f2f5f2;
	margin-top: 0.5em;
	font-size: 2em;
}

.pre-footer-form {
	margin: 0 0 15px;
}

.form-labels {
	color: #f2f5f2;
	text-align: left;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	display: block;
}
.form-inputs {
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-radius: 1em;
	border: 1px solid #ccc;
	margin-bottom: 2em;
	padding: 1.5em;
	line-height: 1.5;
	display: block;
	font-size: 1.2em;
}
.submit-button {
	width: 100%;
	background-color: #54bd95;
	border-radius: 1em;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: 700;
	transition: all 0.3s;
}
.submit-button:hover {
	outline-offset: 0px;
	color: #54bd95;
	background-color: #f2f5f2;
	outline: 1px solid #54bd95;
}

.start-free-trail {
	justify-content: flex-end;
	align-items: flex-start;
	display: flex;
}
.start-free-trail-link {
	grid-column-gap: 0.25em;
	grid-row-gap: 0.25em;
	display: flex;
	font-size: 1em;
	line-height: 1.6;
	margin-top: 1.5em;
	color: #f2f5f2;
	text-decoration: none;
}
.pre-footer-paragraph-link:hover {
	text-decoration: underline;
}

.pre-footer-paragraph-link {
	color: #f9f8fe;
	font-size: 1em;
}

/* footer section starts here ------------------*/
.footer {
	background-color: #161c28;
	padding-bottom: 1em;
	display: block;
}
.footer-container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.heading-green {
	color: #54bd95;
	margin-bottom: 0.5em;
	font-weight: 600;
	font-size: 3.3em;
	line-height: 1.2;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

.newsletter-description {
	color: #a6a6a6;
	font-size: 1.2em;
	font-weight: 500;
}

.form-wrapper {
	margin: 0 0 15px;
}

.newsletter-form {
	border: 1px solid #54bd95;
	border-radius: 2em;
	align-items: flex-end;
	margin-top: 2em;
	padding: 0.3em;
	display: flex;
}

.newsletter-input {
	width: 100%;
	height: 38px;
	color: #333;
	margin-bottom: 10px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857;
	display: block;
	color: #f2f5f2;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	outline: none;
	border-radius: 1em;
	padding: 0.5em 1em;
	font-weight: 500;
}

.footer-links-column {
	flex-direction: column;
	display: flex;
	margin-bottom: 1.5em;
}

.footer-link {
	max-width: 100%;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
}

.link-heading {
	color: #54bd95;
	font-weight: 600;
}

.footer-item {
	color: #a6a6a6;
	font-size: 1.2em;
	font-weight: 500;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	transition: all 0.2s;
}

.footer-bottom-row {
	justify-content: space-between;
	margin-top: 5em;
	display: flex;
}

.policy-text {
	font-size: 1.1em;
	color: #f2f5f2;
	font-weight: 500;
}

/* ------------------- media queries start here ----------------------------------------------------------------------*/
@media only screen and (min-width: 1440px) {
	body {
		font-size: 14.4px;
	}
}

@media screen and (max-width: 991px) {
	body {
		font-size: 14px;
	}

	.body {
		font-size: 1vw;
	}

	/* nav section stars here --------------max-width: 991px------------*/
	.nav-link:hover {
		color: #a6a6a6;
	}

	.button-2:hover {
		color: #f2f5f2;
		background-color: #54bd95;
		outline-width: 0;
		outline-style: solid;
	}

	/* Hero section starts here ----------------max-width: 991px-------------------------------------------*/

	.button-type-1:hover {
		outline-offset: 0px;
		color: #f2f5f2;
		background-color: #54bd95;
		outline: 0 solid #54bd95;
		transform: none;
	}

	.link-block {
		align-items: flex-end;
	}

	.link-block:hover {
		outline-width: 0;
		transform: none;
	}

	.link-block-2:hover {
		border-bottom-style: none;
	}
}

@media screen and (max-width: 767px) {
	.body {
		font-size: 2.5vw;
	}

	/* nav section stars here --------------max-width: 767px------------*/
	.brand {
		z-index: 200;
		position: relative;
	}

	.nav-items {
		z-index: 100;
		height: 0;
		background-color: #161c28;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 10vw;
		padding-right: 10vw;
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		transition: height 0.3s ease-in-out;
	}

	.nav-items.active {
		height: 100vh;
	}

	.nav-links {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}

	.nav-actions {
		width: 100%;
		justify-content: center;
	}

	.nav-link {
		width: 100%;
		border-bottom: 1px solid #a6a6a6;
		color: #f2f5f2;
	}

	.nav-link.nav-link-button {
		width: auto;
		color: #f2f5f2;
		background-color: #54bd95;
		border-bottom-style: none;
		border-radius: 1em;
		flex: 0 auto;
		padding: 0.5em 0.85em;
	}

	.logo-img {
		width: 25vw;
	}

	.mobile-menu-toggle {
		z-index: 200;
		padding-top: 0.5em;
		display: block;
		position: relative;
	}

	.hamburger-button {
		width: 2.4em;
	}

	/* ---hero section starts here max-width: 767px-----*/

	.hero-content {
		width: 100%;
		flex-direction: column;
		align-items: center;
		display: flex;
	}

	.hero-image-container {
		display: none;
	}

	.hero-heading {
		/* h1*/
		font-size: 4.6em;
		font-weight: 600;
		line-height: 0.5em;
	}

	.button-2 {
		white-space: nowrap;
	}

	/* -- collabs-section -max-width: 767px-----*/

	collabs-section-header {
		/* h3*/
		font-size: 1.7em;
	}

	.collabs-logos-image {
		width: 100%;
	}

	/* rating section starts here -------------max-width: 767px----------*/
	.section.rating {
		flex-direction: column;
		align-items: center;
	}

	.rating-stars {
		width: 100%;
		text-align: center;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4em;
		margin-right: 0;
		display: flex;
	}

	.h2 {
		font-size: 2.4em;
	}

	.rating-stars {
		/* --- delete if there is no need */
		width: 100%;
		text-align: center;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4em;
		margin-right: 0;
		display: flex;
	}

	/* right side of rating section starts here -------------max-width: 767px----------*/
	.support-features {
		width: 100%;
	}

	.support-item {
		margin-bottom: 2em;
	}

	/* features section starts here -------------max-width: 767px----------*/
	.features-header {
		flex-direction: column;
		gap: 3em;
	}

	.features-title {
		font-size: 2.4em;
	}

	.features-description-centered {
		text-align: center;
	}

	.features-details {
		grid-column-gap: 1.5em;
		grid-row-gap: 1.5em;
		flex-direction: column;
	}

	.features-item {
		width: 100%;
		grid-column-gap: 1.5em;
		grid-row-gap: 1.5em;
		flex-direction: row;
	}

	/* benefits section starts here -------------max-width: 767px----------*/

	.benefits-content {
		width: 100%;
		text-align: center;
	}

	.main-heading {
		font-size: 2.4em;
	}

	.benefit-item {
		align-items: flex-start;
	}

	.benefit-icon-image-1,
	.benefit-icon-image-2,
	.benefit-icon-image-3,
	.benefit-icon-image-4,
	.benefit-icon-image-5 {
		width: 3vw;
	}

	.subheading {
		font-size: 1.3em;
	}

	.hero-banner-image {
		display: none;
	}

	/* pricing section starts here -------------max-width: 767px----------*/
	.pricing-options {
		flex-direction: column;
		gap: 1em;
		padding: 10px;
	}

	.pricing-plan {
		margin-top: 20px;
	}

	.feature-item {
		align-items: flex-start;
	}

	.icon {
		width: 3vw;
	}

	.feature-title {
		font-size: 1.3em;
	}

	/*pre-footer section starts here -------------max-width: 767px----------*/
	.section.pre-footer {
		flex-direction: column;
	}

	.reviews {
		width: 100%;
		margin-bottom: 4em;
	}
	.pre-footer-images {
		width: 50%;
	}
	.userImg {
		width: 6vw;
	}

	.pre-footer-heading {
		font-size: 2.4em;
		text-align: center;
	}
	.request-demo {
		width: 100%;
	}
	/* footer section starts here -------------max-width: 767px----------*/
	.footer-container {
		flex-direction: column;
		align-items: flex-center;
	}
	.heading-green {
		text-align: center;
		margin-bottom: 1em;
	}

	.footer-bottom-row {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.newsletter-form {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 10px;
	}

	.footer-links-column {
		align-items: center;
		text-align: center;
	}

	.newsletter-input {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 479px) {
	.body {
		font-size: 3.5vw;
	}

	/* hero section starts here------- max-width: 479px */
	.hero-content .hero-heading {
		font-size: 3.3em;
		font-weight: 900;
		line-height: 1.2;
	}

	.hero-heading {
		/* h1*/
		font-size: 2.8em;
	}

	.hero-description {
		font-size: 1.2em;
	}

	.paragraph.link-paragraph {
		white-space: nowrap;
		font-size: 1.1em;
	}

	.button-type-1 {
		font-size: 1.1em;
	}

	.link-block {
		align-items: center;
	}

	.play-img-icon {
		width: 10vw;
	}

	.button-type-2 {
		width: 11em;
	}

	/* collabs hero --- --------------max-width: 479px */
	.collabs-section-header {
		/* h3*/
		font-size: 1.5em;
	}

	.collabs-logos {
		width: 96vw;
		margin-left: -8vw;
	}

	.collabs-logos-image {
		width: 15vw;
	}

	/* rating section starts here -------------max-width: 479px----------*/
	.h2.rating-support-heading {
		white-space: normal;
		font-size: 2.1em;
	}

	.ratings-list {
		width: 100%;
	}

	.image-13,
	.image-14,
	.image-15 {
		width: 10vw;
		max-width: none;
	}

	/* feature section starts here -------------max-width: 479px----------*/
	.features-header {
		gap: 2em;
		margin-bottom: 6em;
	}

	.features-item {
		flex-direction: column-reverse;
		margin-bottom: 1em;
	}

	.features-subtitle-centered {
		text-align: center;
	}

	.features-text-container {
		margin-bottom: -1em;
	}

	/* benefits section starts here -------------max-width: 479px----------*/

	.subheading {
		text-align: left;
		white-space: normal;
	}

	/* pricing section starts here -------------max-width: 479px----------*/

	.smaller-title {
		font-size: 2.1em;
	}

	.plan-description {
		font-size: 1.5em;
		line-height: 1.5;
		white-space: normal;
	}

	.feature-list {
		min-width: 200px;
		border-radius: 2em;
		margin-top: 0;
		padding: 2em 2em;
		border-radius: 1em;
	}

	.feature-title {
		text-align: left;
		white-space: normal;
		font-size: 1em;
	}

	.cta-button {
		border-radius: 0.4em;
		margin-top: 1rem;
		padding: 0.1em 2.5em;
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
	}

	.go-to-pro-btn {
		border-radius: 0.4em;
		margin-top: 1rem;
		padding: 0.1em 2.5em;
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
	}
	/* footer section starts here -------------max-width: 479px----------*/
	.section.footer {
		padding-top: 2em;
	}
	.heading-green {
		font-size: 2.5em;
		line-height: 1.1;
	}

	.newsletter-description {
		font-size: 1em;
	}

	.policy-text {
		font-size: 1em;
	}

	.footer-item,
	.link-heading {
		font-size: 1em;
	}

	.footer-container {
		padding: 1em;
	}
}
